*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.App {
  text-align: center;
  background-image: linear-gradient(to right, rgb(77, 204, 190), rgb(185, 204, 242));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header-1 {
  font-family: 'PT Sans Narrow', sans-serif;
}

.button_container {
  display: flex;
}
.cat_container {
  height: 50vh;
  width: 50vw;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.cat_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}