.btn,
.btn:link,
.btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.5s;
        position: relative;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
}

.btn:hover {
    transform: translateY(-0.3rem); 
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(0.2rem); 
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:focus {outline:0;}